altair==4.2.2
beautifulsoup4
feedparser
groq
langchain
langchain-core
langchain-groq
langgraph
lightgbm
numpy
pandas
plotly
pydantic
python-dotenv
requests
scikit-learn
shap
streamlit>=1.25.0
streamlit-autorefresh
watchdog
xgboost
yfinance
optuna
catboost
joblib
